/*  ----- Page layout blocks -----  */
body {background-color:#FAFAFA ; 
  color:  #333333; 
  margin: 0;
  padding: 0;
}

h1,h2 {
    text-align: center;
    background-color: #A5C8A8;
    padding: 3% 5%;
    border: 20px solid var(--Brown);
    color:#2C4A33;
  }

  body a {
    text-decoration: none;
    color: #5F8FA6;
  }

  body a:hover { border: 15px solid var(--Brown);
    border-radius: 10px ;
    color:var(--LightBeige);
    font-size: 3 em;
    font-weight: bolder;
    line-height: 5px;
    margin-right: 3px;
    padding: 3px ;
}
/*  ----- Table----  */

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

td a {
    border: none;             
    outline: none;           
    text-decoration: none;    
    color: #5F8FA6; ;              
}

td a:hover {
    color: greenyellow;          
    cursor: pointer;        
}

th { background-color: #2C4A33;
color: #A5C8A8;
}

/*  ----- Navigation ----- */
nav  {
  text-align: center;
  margin-top: auto;
  border: 15px #2C4A33;
  border-radius: 10px;
  font-size: 1.2em;
  padding: 10px;
  color: #5F8FA6;
}

nav a {
    text-decoration: none;  
    color: inherit;  
    display:inline-flexbox;
    padding:5px 5px;  
    border: 5px solid #5F8FA6;
    border-radius: 10px;
}

nav a:hover{
  color:#FAFAF6;
  background-color: #5F8FA6;
}

/*  -----  Typography  ----- */
  

h1, h2 {font-family: "Lilita One", sans-serif} 
  h1 {color: var(--DarkGreen);
    font-size: 400%;
    text-align: center;}
  h2 {color: var(--DarkGreen);
    font-size: 195%;
    text-align: center;}



  