<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="https://livejs.com/live.js"></script>
<link href="/css/style.css" rel="stylesheet" type="text/css" /> 
  <h1>TeachMaster</h1>
  <nav>
    <a href="/">HomePage</a>
    <a href="/tutor">Tutors</a>
    <a href="/student">Students</a>
    <a href="/course">Courses</a>
    <a href="/FS">Financial Summaries</a>
    <a href="/tutor-course">Courses Taught by Tutor</a>
    <a href="/tutor-student">Students Taught by Tutor</a>
    <a href="/pages/Courses_has_students.html">Students Enrolled in Course</a>
  </nav>
</head>

<p>Welcome to <strong>TeachMaster</strong>! This is a Tutor Management website aimed at effectively managing our
tutors and their students. This tutor management system effectively handles tutor wages, monitors academic qualifications, assigns tutors to specific courses, and records detailed performance metrics, including revenue generated and student renewal rates. It also tracks the overall contribution of each tutor to the company`s profitability by providing insights into which tutors are the most in-demand based on course enrollment and financial impact.</p>

<p>
    Navigate our site by clicking the tabs above! Here is where they will take you:
    <p><strong>Tutors: </strong>View the current tutors in the system.</p>
    <p><strong>Students: </strong>View the current tutors in the system.</p>
    <p><strong>Courses: </strong>View the courses offered.</p>
    <p><strong>Financial Summaries: </strong>View each tutor's financial summary according to the quarter. </p>
    <p><strong>Courses Taught by Tutor: </strong>View all the courses taught by our tutors.</p>
    <p><strong>Students Taught by Tutor: </strong>View all the students taught by our tutors.</p>  
    <p><strong>Students Enrolled in Courses: </strong>View all the students enrolled in each of our offered courses.</p> 
</p>
